/**
 * Module dependencies
 */

@require './variables'
@require './placeholders'

for key, val in input--apply
  if lookup('input--apply-' + key) || val
    {'input[type="' + key + '"]'}
      @extend $input--control
